@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(/fondo.jpeg);
  background-size: 50% 50% 50% 50%;
  background-repeat:round;
  overflow-x: hidden;
  height: 100%;

}

header {
  position: fixed;
  top: 0;
  z-index: 50;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }

  body {
    box-sizing: border-box;
    background-image: url(/fondo-oscuro.jpeg);
    background-size: 50% 50% 50% 50%;
    background-repeat:round;
    background-clip: content-box;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
